
  <tr>
    <td>
      <%= check_box_tag "track_ids[]", track.id, false, :onchange => "toggleButtons();" %>
    </td>
    <td class="trackPlayBtn" title="<%= track.mp3.url %>">
      <a href="#">play<li style="list-style:none;" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span></li></a>
    </td>
    <td class="trackTitle">
      <%= track.title %>
    </td>
    <td>
      <%= track.artist %>
    </td>
    <td>
      <%= track.composer %>
    </td>
    <td>
      <%= track.grouping %>
    </td>
    <td>
      <%= track.genre %>
    </td>
    <td>
      <%= link_to "Edit", edit_track_path(track) %> | 
      <%= link_to "Delete", track_path(track), :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
