<tr>
  <td class="trackPlayBtn" title="<%= track.mp3.url %>">
    <li style="list-style:none;"><img src="/images/icons/play.png" /></li>
  </td>
  <td class="trackTitle">
    <%= track.title %>
  </td>
  <td class="trackArtist">
    <%= track.artist %>
  </td>
  <td class="trackAlbum">
    <%= track.album %> test
  </td>
  <td class="trackGenre">
    <%= track.genre %>
  </td>
  <td class="trackDl">
    <%= link_to image_tag("/images/icons/dl.png"), download_track_path(track), :title=>"Download track", :class=>"dl" %> 
  </td>
  <td class="trackAvail">
    <%= link_to image_tag("/images/icons/avail.png"), "mailto: ian@gimmebutter.com?Subject=Licensing Inquiry: #{track.title}", :class=>"go" %>
</tr>
