<% content_for :head do %>

<% end %>

<p>
  <a href="#" id="advanced_search">Advanced Search</a>
</p>

<div class="hidden">
<div id="advanced-search-form" style="padding:10px;">
  <% form_for Search.new, :url => searches_path, :html => { :method => :post } do |f| %>
    <p>
      <%= f.label :genre %>

      <%= f.select :genre, Genre.all.collect { |c| [c.name] }, :include_blank => true %>
    
      <%= f.label :mood %>

      <%= f.select :mood, Mood.all.collect { |c| [c.name] }, :include_blank => true %>
    
      <%= f.label :composer %>

      <%= f.select :composer, Composer.all.collect { |c| [c.name] }, :include_blank => true %>
      
      <%= f.label :keywords %>

      <%= f.text_field :keywords %>
    
      <%= f.submit "Submit" %>
    </p>
  <% end %>
</div>
</div>
      
    
<div id="jquery_jplayer"></div>

<div id="player_container">
	<ul id="icons">
		<li id="play" ><img src="/images/play-btn.png" /></li>
		<li id="pause"><img src="/images/pause-btn.png" /></li>
		<li id="volume-min" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-off"></span></li>
		<li id="volume-slide"><div id="sliderVolume"></div></li>
		<li id="volume-max" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-on"></span></li>    
	</ul>
	<!-- Sliders -->
	<div id="bars_holder">
	  <div id="track-display">
	    <span id="trackname">----</span> <span class="play-info" id="play-info"> </span>
	  	<div id="sliderPlayback"></div>
  		<div id="loaderBar"></div>
	  </div>
	</div>
	<% form_tag tracks_path, :method => 'get' do %>
      <%= text_field_tag :search, @search, :class=>"search", :value=>"Search", :onfocus=>"if
    (this.value==this.defaultValue) this.value='';" %>
    <% end %>
  <div class="clearfix"></div>
</div>
  <table id="tracks_container" class="content alternating tablesorter" summary="Butter Feed Track Listing">
    <thead>
      <th class="playBtn">
      </th>
      <th class="title">
        Title
      </th>
      <th class="time">
        Time
      </th>
      <th class="artist">
        Artist
      </th>
      <th class="mood">
        Mood
      </th>
      <th class="genre">
        Genre
      </th>
      <th class="download"> 
      </th>
      <th class="avail">
      </th>
    </thead>
    <tbody id="results">
      <%= render :partial => "track", :collection => @tracks %>
    </tbody>
    </table>
    <div id="bottom">
    </div>
    <p>
      <%= will_paginate @tracks, :params => { :search=> @search } %>
      <%= pageless(@tracks.total_pages, tracks_path) %>
    </p>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $("#advanced_search").colorbox({width:"620px", height:"300px", inline:true, href:"#advanced-search-form"});
    });
  </script>
