
  <tr>
    <td>
      <%= check_box_tag "track_ids[]", track.id, false, :onchange => "toggleButtons();" %>
    </td>
      <td class="trackPlayBtn" title="<%= track.mp3.url %>">
        <li style="list-style:none;"><img src="/images/icons/play.png" /></li>
      </td>
      <td class="trackTitle admin">
        <%= track.title %>
      </td>
      <td class="trackArtist admin">
        <%= track.artist %>
      </td>
      <td class="trackAlbum admin">
        <%= track.album %>
      </td>
      <td class="trackGenre admin">
        <%= track.genre %>
      </td>
    <td>
      <%= link_to "Edit", edit_admin_track_path(track) %> | 
      <%= link_to "Delete", admin_track_path(track), :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
