<div id="box">
<%= render :partial => 'uploadify' %>

<h1>Add Tracks</h1>

<p>
  <%= flash[:notice] %>
</p>

<% form_for @track, :url => admin_tracks_path, :html => {:multipart => true, :method => :post} do |f| %>
    <p>
    <%= f.file_field :mp3 %>
  </p>
  <p><%= f.submit "Upload" %></p>
<% end %>

<p>
  <%= link_to "Done", admin_tracks_path %>
</p>
</div>